<a href="https://colab.research.google.com/github/noushadkhan01/Data-Science-Projects/blob/master/Titanic_machine_learning_from_disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!git clone https://github.com/noushadkhan01/my_methods

Cloning into 'my_methods'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 348 (delta 20), reused 0 (delta 0), pack-reused 307
Receiving objects: 100% (348/348), 91.03 KiB | 9.10 MiB/s, done.
Resolving deltas: 100% (205/205), done.

In [3]:
!ls

my_methods  sample_data

In [4]:
%cd my_methods

/content/my_methods

In [5]:
!ls

choose_best_classifier.py	      my_global_variables.py
choose_best_regressor.py	      my_roc_curve.py
choose_optimal_number_of_clusters.py  plot_text.py
get_cross_validation.py		      print_model_results.py
initialize_weights.py		      README.md
my_backward_propagation.py	      sgd_neural_net.py
my_cap_curve.py			      visualise_classifier_performance.py
my_dummy_variable_creator.py

In [0]:
import my_global_variables

In [0]:
my_global_variables.init()

##import titanic dataset from kaggle

In [9]:
from google.colab import files
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
import kaggle
!kaggle competitions download -c titanic

Saving kaggle.json to kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.csv to /content/my_methods
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 50.3MB/s]
Downloading train.csv to /content/my_methods
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 54.9MB/s]
Downloading gender_submission.csv to /content/my_methods
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.07MB/s]

In [10]:
!ls

choose_best_classifier.py	      my_global_variables.py
choose_best_regressor.py	      my_roc_curve.py
choose_optimal_number_of_clusters.py  plot_text.py
gender_submission.csv		      print_model_results.py
get_cross_validation.py		      __pycache__
initialize_weights.py		      README.md
kaggle.json			      sgd_neural_net.py
my_backward_propagation.py	      test.csv
my_cap_curve.py			      train.csv
my_dummy_variable_creator.py	      visualise_classifier_performance.py

In [0]:
train = pd.read_csv('train.csv')

In [12]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
test = pd.read_csv('test.csv')

In [14]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

#EDA

## profile report of dataset

In [15]:
combined = pd.concat([train, test])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [16]:
combined.head()

    Age Cabin Embarked     Fare  ...     Sex  SibSp  Survived            Ticket
0  22.0   NaN        S   7.2500  ...    male      1       0.0         A/5 21171
1  38.0   C85        C  71.2833  ...  female      1       1.0          PC 17599
2  26.0   NaN        S   7.9250  ...  female      0       1.0  STON/O2. 3101282
3  35.0  C123        S  53.1000  ...  female      1       1.0            113803
4  35.0   NaN        S   8.0500  ...    male      0       0.0            373450

[5 rows x 12 columns]

In [17]:
combined.tail()

      Age Cabin Embarked      Fare  ...     Sex  SibSp  Survived              Ticket
413   NaN   NaN        S    8.0500  ...    male      0       NaN           A.5. 3236
414  39.0  C105        C  108.9000  ...  female      0       NaN            PC 17758
415  38.5   NaN        S    7.2500  ...    male      0       NaN  SOTON/O.Q. 3101262
416   NaN   NaN        S    8.0500  ...    male      0       NaN              359309
417   NaN   NaN        C   22.3583  ...    male      1       NaN                2668

[5 rows x 12 columns]

In [0]:
from pandas_profiling import ProfileReport

In [19]:
train.shape, test.shape

((891, 12), (418, 11))

In [20]:
profile_report = ProfileReport(combined).to_file('titanic_profile_report.html')

/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [21]:
!ls

choose_best_classifier.py	      my_roc_curve.py
choose_best_regressor.py	      plot_text.py
choose_optimal_number_of_clusters.py  print_model_results.py
gender_submission.csv		      __pycache__
get_cross_validation.py		      README.md
initialize_weights.py		      sgd_neural_net.py
kaggle.json			      test.csv
my_backward_propagation.py	      titanic_profile_report.html
my_cap_curve.py			      train.csv
my_dummy_variable_creator.py	      visualise_classifier_performance.py
my_global_variables.py

[visit profile report](https://bit.ly/2tYpeaX)

In [22]:
combined.head(2)

    Age Cabin Embarked     Fare  ...     Sex  SibSp  Survived     Ticket
0  22.0   NaN        S   7.2500  ...    male      1       0.0  A/5 21171
1  38.0   C85        C  71.2833  ...  female      1       1.0   PC 17599

[2 rows x 12 columns]

In [23]:
train.shape, test.shape

((891, 12), (418, 11))

In [30]:
combined[len(train):].head()

    Age Cabin Embarked     Fare  ...     Sex  SibSp  Survived   Ticket
0  34.5   NaN        Q   7.8292  ...    male      0       NaN   330911
1  47.0   NaN        S   7.0000  ...  female      1       NaN   363272
2  62.0   NaN        Q   9.6875  ...    male      0       NaN   240276
3  27.0   NaN        S   8.6625  ...    male      0       NaN   315154
4  22.0   NaN        S  12.2875  ...  female      1       NaN  3101298

[5 rows x 12 columns]

In [28]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

##check for missing vaues

In [31]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [33]:
combined.Cabin.nunique()

186

In [34]:
combined.Cabin.unique()[:10]

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78'], dtype=object)

In [36]:
combined.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [39]:
 cabin = combined.Cabin.dropna().apply(lambda x: x[0])
 cabin[:10]

1     C
3     C
6     E
10    G
11    C
21    D
23    A
27    C
31    B
52    D
Name: Cabin, dtype: object

In [40]:
cabin.unique()

array(['C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)