<a href="https://colab.research.google.com/github/noushadkhan01/Data-Science-Projects/blob/master/Titanic_machine_learning_from_disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
!git clone https://github.com/noushadkhan01/my_methods

Cloning into 'my_methods'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 348 (delta 20), reused 0 (delta 0), pack-reused 307
Receiving objects: 100% (348/348), 91.03 KiB | 1.36 MiB/s, done.
Resolving deltas: 100% (205/205), done.

In [3]:
!ls

my_methods  sample_data

In [5]:
%cd my_methods

/content/my_methods

In [6]:
!ls

choose_best_classifier.py	      my_global_variables.py
choose_best_regressor.py	      my_roc_curve.py
choose_optimal_number_of_clusters.py  plot_text.py
get_cross_validation.py		      print_model_results.py
initialize_weights.py		      README.md
my_backward_propagation.py	      sgd_neural_net.py
my_cap_curve.py			      visualise_classifier_performance.py
my_dummy_variable_creator.py

In [0]:
import my_global_variables

In [0]:
my_global_variables.init()

##import titanic dataset from kaggle

In [12]:
from google.colab import files
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
import kaggle
!kaggle competitions download -c titanic

Saving kaggle.json to kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv to /content/my_methods
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 58.0MB/s]
Downloading gender_submission.csv to /content/my_methods
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.81MB/s]
Downloading test.csv to /content/my_methods
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.9MB/s]

In [13]:
!ls

choose_best_classifier.py	      my_global_variables.py
choose_best_regressor.py	      my_roc_curve.py
choose_optimal_number_of_clusters.py  plot_text.py
gender_submission.csv		      print_model_results.py
get_cross_validation.py		      __pycache__
initialize_weights.py		      README.md
kaggle.json			      sgd_neural_net.py
my_backward_propagation.py	      test.csv
my_cap_curve.py			      train.csv
my_dummy_variable_creator.py	      visualise_classifier_performance.py

In [0]:
train = pd.read_csv('train.csv')

In [16]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
test = pd.read_csv('test.csv')

In [18]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

## profile report of dataset

In [0]:
from pandas_profiling import ProfileReport

In [22]:
train.shape, test.shape

((891, 12), (418, 11))

In [26]:
profile_report = ProfileReport(pd.concat([train, test], axis = 0), ).to_file('titanic_profile_report.html')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [28]:
!ls

choose_best_classifier.py	      my_roc_curve.py
choose_best_regressor.py	      plot_text.py
choose_optimal_number_of_clusters.py  print_model_results.py
gender_submission.csv		      __pycache__
get_cross_validation.py		      README.md
initialize_weights.py		      sgd_neural_net.py
kaggle.json			      test.csv
my_backward_propagation.py	      titanic_profile_report
my_cap_curve.py			      titanic_profile_report.html
my_dummy_variable_creator.py	      train.csv
my_global_variables.py		      visualise_classifier_performance.py

In [0]:
from google.colab import files
files.download('titanic_profile_report.html')

[visit profile report](https://bit.ly/2tYpeaX)

<a href="https://bit.ly/2tYpeaX" target="_blank">visit profile report</a>